@font-face {
    font-family: latoBold;
    src: url(../fonts/Lato/Lato-Black.ttf);
}

@font-face {
    font-family: latoRegular;
    src: url(../fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: latoLight;
    src: url(../fonts/Lato/Lato-Light.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    scroll-behavior: smooth;
}

.sectionContainer {
    width: 65%;
    margin: auto;
    padding: 20px 0;
}

/*navbar*/

.header a {
    color: white;
}

.navbarcolored {
    transition: 500ms ease;
    background-color: #000;
}

.header .active,
.list-group .active {
    color: rgb(176, 116, 133) !important;
    text-decoration: underline !important;
    text-decoration-color: rgb(176, 116, 133) !important;
    text-underline-position: under
}

.nav-link:hover {
    color: rgb(176, 116, 133) !important;
}

/* header */
.header {
    background-image: url("../images/destination.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    color: #fff;
    overflow: hidden;
}

.overlay {
    background-color: rgb(0, 0, 0, .1);
    position: absolute;
    width: 100%;
    height: 100%;
}

.header h1 {
    padding: 200px 0px 60px 0px;
    font-size: 70px;
    font-family: latoBold;
    width: 50%;
}

.aabb {
    background-color: #5e384f;
    padding-right: -150px;
}

.header p {
    font-size: 24px;
    font-family: latoRegular;
    font-weight: 500;
}

.white-overlay {
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    width: 85%;
    height: auto;
    text-align: center;
    padding: 10px;
    margin: auto;
}

.SEC-ABC {
    overflow: hidden;
    margin-top: 70px;
    margin-left: 150px;
}

.left-image {
    float: left;
    width: 33%;
}

.left-image img {
    width: 400px;
    height: 370px;
}

.SEC-ABC .right-SEC {
    float: left;
    width: 40%;
    margin-left: 40px;
}

.SEC-ABC .right-SEC span {
    font-size: 30px;
    color: orange;
}

.SEC-ABC .right-SEC p,
.container .section1 .rightColumn p {
    color: #999999;
    font-size: smaller;
}

.container .sec-3 .rightColumn button {
    background-color: #d3cccc;
    color: #000;
    font-family: "Times New Roman", Times, serif;
    font-size: smaller;
    border-radius: 10%;
    margin-bottom: 30px;
}

.SEC-ABC .right-SEC .title {
    font-size: x-large;
    color: #000;
    font-family: "Times New Roman", Times, serif;
}

.containerTour,.reviewContainer{
    width: 70%;
    margin: auto;
    margin-top: 100px;
}

.sec-3 .title {
    color: #000;
    font-family: "Times New Roman", Times, serif;
    font-size: medium;

}

.sec-3 .primary {
    margin-left: 180px;
    font-size: 21px;
    margin-bottom: 20px;
}

.sec-3 .sub-title {
    color: #a7a4a4;
    font-size: smaller;
}

.sec-3 p {
    color: #999999;
    font-size: medium;
}

.final-sec {
    margin-left: 70px;
    margin-top: 30px;
}

.final-sec p {
    margin-left: 10px;
}

.final-sec .right label {
    color: #878585;
}
.reviewImg{
    display: flex;
    justify-content:end;
}
.SEC-ABC .right-SEC .paragraph {
    width: 300px;
    line-height: 25px;
}

.SEC-ABC .right-SEC .smallParagraph {
    width: 300px;
    line-height: 20px;
    font-size: x-small;
}

.travel-location {
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 3px;
    font-family: latoRegular;
    color: rgba(49, 49, 49, 0.76);
    letter-spacing: 1px;
}

.travel-date {
    width: 95%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 3px;
    font-family: latoRegular;
    letter-spacing: 1px;
}

.search {
    background-color: rgb(176, 116, 133);
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    font-size: 14px;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    font-family: latoRegular;
    letter-spacing: 1px;
}

/* services */

.box {
    position: relative;
}

.serviceImg {
    width: 60%;
}

.service {
    padding-bottom: 100px;
}

.serviceIcon {
    position: absolute;
    z-index: 99;
    top: 55%;
    left: 49%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 4em;
}

/* touer */
.tourImg {
    width: 100%;
    height: 90%;
}

.rightColumn {
    margin-left: 30px;
}


.table tbody tr th {
    padding-bottom: 20px;
}

.colorBtn {
    color: rgb(176, 116, 133) !important;
    border-color:rgb(176, 116, 133) !important ;
    color: white !important;
}

.colorBtn:hover {
    background-color: rgb(163, 106, 122) !important;
    color: white !important;
}

.containerTour .section1 .rightColumn .title {
    font-size: x-large;
    color: #000000;
    font-family: "Times New Roman", Times, serif;
}

.containerTour .section1 .rightColumn .sub-title {
    font-size: medium;
    color: #000000;
}

.section2 img {
    width: 90%;
    height: 40%;
}

.section12 {
    margin-top: 20px;
}

.section12 img {
    height: 500px;
    width: 90%;
}

.section12 div {
    margin-top: 20px;
}

.section12 div p {
    width: 90%;
    color: #999999;
    line-height: 32px;
}

.section12 div .title {
    font-size: large;
    color: #000;
    background-color: #5e384f;
    font-family: "Times New Roman", Times, serif;
}

.table tbody tr td {
    color: #999999;
}

.sec-3 {
    margin-top: 30px;
}

.sec-3 img {
    border-radius: 50%;
    width: 30%;
    height: 25%;
    
}
.containerTour button ,.reviewContainer button{
    margin-bottom: 20px !important;
}

/* cover */
.cover {
    background-image: url(../images/bg_4.jpg);
    padding: 250px 0;
    background-size: cover;
    background-attachment: fixed;
}

.menu,
.service {
    text-align: center;
    margin-top: 50px;
}



.item {
    overflow: hidden;
    padding-top: 30px;
}


img {
    border-radius: 5px;
}

.subheading {
    color: #e2c0bb;
    letter-spacing: 2px;
    font-size: 16px;
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 400;
}

.numOfDay {
    font-weight: 500;
    font-size: 12px;
    padding-top: 12px;
    font-family: "Poppins", Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #999999;
    text-align: left;
    width: 100% !important;
    font-size: 10px !important;
}

.mp4 {
    font-size: 40px;
    font-weight: 300;
    color: black;
}

.Classess {
    font-weight: 300;
    color: black;
}

h3 {
    font-size: 20px;
    font-weight: 600;
    color: #000000;

    font-family: "Cormorant Garamond", Georgia, serif;
}

.mp3 {
    color: #999999;
    font-family: "Poppins", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.8;
    font-weight: 400;
}

.container {
    width: 80%;
    margin: auto;

}

.section2 {
    margin-top: 70px;
    overflow: hidden;
    margin-bottom: 100px;
}

.section3 {
    margin-top: 50px;
    height: 100vh;
}

.section2 .imageA img {
    height: 200px;
}

.section3 button {
    padding-top: 10px;
    padding-bottom: 10px;
}

.section3 .contact {
    float: left;
    width: 50%;
}

.section3 .contact .left-cont img {
    width: 100px;
}

.section-footer .preICON {
    background-color: #5e384f;

}

.section3 .contact .left-cont {
    float: left;
    width: 50%;
}

.section-footer img {
    width: 200px;
    /* height: 400px; */
}

.section3 .contact .right-cont {
    float: left;
    width: 50%;
}

.left-sec {
    float: left;
    width: 40%;
}

.group a {
    color: red;
    text-decoration: none;
}

.M-Left {
    margin-left: -140px;
}

.imagen {
    float: left;
    width: 50%;
    padding-left: 200px;
}

.left-sec .btnn {
    background-color: #b5779c;
    border: none;
    text-align: center;
}

.containerTour .section1 .rightColumn .colorBtn {
    background-color: #b5779c;
}

.containerTour .section1 .rightColumn span {
    color: #b5779c;
}

.containerTour .section1 {
    margin-top: 70px;
}

.Light-btnn {
    width: 200px;
}

.containerTour .left-sec p {
    width: 500px;
}

.tourDescription{
    color: #9c9c9c;
    width: 95% !important;
}
.review .form-control{
    padding: 5px !important;
    width: 95% !important;
    margin-left: 20px !important;
}
.review label{
    margin-left: 21px !important;
}
.review .submitReview{
    margin-left: 20px !important;
}
.g-1{
    margin-bottom: 15px;
}
.imagen img {
    width: 400px;
    height: 400px;

}

.menu-content p {
    width: 70%;
    line-height: 25px;
    text-align: left;
    margin-bottom: 0px;
}



.menu-content {
    padding-bottom: 30px;
    margin: auto;
}

.seeAll {
    padding: 10px 60px;
    border-radius: 3px;
    background-color: rgb(176, 116, 133);
    color: #fff;
    border: none;
    font-family: latoRegular;
    margin-top: 15px;
    text-decoration: none;
}

.seeAll:hover , .search:hover{
    background-color: rgb(163, 106, 122);
}

.menu img {
    transition: 0.7s;
    width: 100%;
    height: 100%;
}

.menu .menuImage {
    overflow: hidden !important;
    width: 90%;
    margin: auto;
}

.menu .menuImage:hover img {
    transform: scale(1.2);

}

.menu-content p {
    margin-left: 5%;
}

.price {
    position: absolute;
    z-index: 99;
    background-color: rgb(176, 116, 133);
    bottom: 0.1%;
    width: 50px !important;
    color: #fff;
    padding-left: 5px;
}

/* contact me */
.left-contant {
    background-color: #f8f9fa;
    margin: 0px 10px 15px 10px;
}

.above {
    padding: 10px;
    text-align: left;
}

.above i {
    float: left;
    padding: 3px 5px 3px 5px;
    margin-top: 2px;
    margin-right: 2px;
    color: rgb(176, 116, 133);
}

.inside {
    padding: 10px 6px 10px 6px;
    text-align: left;
    margin-left: 25px;

}

.inside p {
    font-size: 13px;
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 100;
}

.right {
    background-color: #f8f9fa;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
    margin-bottom: 20px;
}

.right .form-control {
    padding: 12px;
    margin-bottom: 15px;
}


.right input[type=submit] {
    padding: 10px 30px 10px 30px;
    border-radius: 3px;
    background-color: rgb(176, 116, 133);
    color: #fff;
    border: none;
    font-family: latoRegular;
    margin-bottom: 5px;
}

.right input[type=submit]:hover {
    background-color: rgb(163, 106, 122);
}

.footer {
    background: #1b1919;
}

.footerContainer {
    width: 75%;
    margin: auto;
}

.footer h2 {
    font-size: 21px;
    color: #fff;
    padding: 40px 0 20px 0;
}

.footer h2 span {
    color: #c79bb6;
}

.footer a {
    display: block;
    margin-bottom: 12px;
    color: rgba(255, 255, 255, 0.6) !important;
}

.footer p {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 25px !important;
}

.footer i {
    color: rgba(255, 255, 255, 0.6);
}
.footer a:hover{
    color: #fff !important;
}

.footer .icon {
    display: inline;
    height: 50px;
    width: 50px;
    display: block;
    float: left;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    position: relative;
    margin-right: 5px;
}
.footer .iconLeft{
    margin-left: 5px;
}

.footer .icon:hover {
    background: rgba(255, 255, 255, 0.066);
}

.footer .icon i {
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer a:hover {
    cursor: pointer;
}

.CopyRight {
    margin-top: 30px;
}

.notVisible{
    display: none !important;
}
.visible{
    display:inline !important;
}

@media (max-width:576px) {

    .navbar {
        background-color: #000;
    }

    .header h1 {
        padding: 140px 0px 20px 0px;
        font-size: 36px;
        width: 100%;
    }

    .overlay {
        width: 100%;
    }

    .white-overlay {
        width: 94%;
    }

    .header p {
        font-size: 21px;
    }

    .serviceIcon {
        font-size: 3em;
    }

    .sectionContainer {
        width: 80%;
    }

    .serviceContainer {
        width: 65%;
    }

    .contactContainer {
        width: 90%;
    }
    .containerTour,.reviewContainer{
        width: 90%;
    }
    .final-sec{
        margin-left: 0px;
    }
    .reviewImg{
        display: flex;
        justify-content:center;
    }
    .sec-3 img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        
    }
    .rightColumn {
        margin-left: 0px;
    }
    .sec-3 .primary {
        margin-left: 0px;
    }

}

.more {
    display: flex;
    justify-content: center;
}

#one {
    color: aliceblue;
    background-color: #5e384f;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
}

@media (576px < width <=850px) {


    .header h1 {
        padding-top: 220px;
        font-size: 65px;
        width: 100%;
    }

    .header p {
        font-size: 28px;
    }

    .serviceIcon {
        font-size: 5em;
    }

    .serviceImg {
        width: 50%;
    }

    .mp3 {
        font-size: 18px;
    }

    p {
        font-size: 18px;
    }

    #one:hover {
        background-color: #777171;
    }

    .more p {
        margin: 10px;
    }

    .welcome {
        margin-top: 80px;
        padding-left: 40px;
        width: 90%;
        margin-left: 70px;
    }

    .welcome2 {
        margin-top: 30px;
        width: 90%;
        margin-left: 30px;
    }

    .price {
        color: #c79bb6;
    }

    #per {
        font-size: small;
        font-weight: 400;
        font-family: "Poppins", Arial, sans-serif;
    }

    .welcome h1 {
        font-family: "Cormorant Garamond", Georgia, serif;
        text-decoration: none;
    }

    .welcome h4 {
        color: #777676;
        font-family: "Poppins", Arial, sans-serif;
    }

    .welcome p {
        color: #9c9c9c;
        font-family: "Poppins", Arial, sans-serif;
    }

    .book button {
        margin-left: 190px;
        padding: 10px 20px;
        color: aliceblue;
        background-color: #5e384f;
        border: none;
        border-radius: 20px;
    }

    .look {
        margin-top: 40px;
        height: 500px;
        width: 100%;
        padding-left: 60px;
    }

    .front {
        float: left;
        height: 430px;
        width: 60%;
        z-index: 99;
        position: relative;
        margin-top: 40px;
    }

    .front img {
        height: 430px;
        width: 100%;
    }

    .back {
        float: left;
        margin-left: -220px;
        height: 430px;
        z-index: -99;
        width: 60%;
        border: 1px solid;
        border-color: #9da6ad;
    }

    .slides {
        width: 60%;
        height: 450px;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        margin-bottom: 30px;
    }

    .mage {
        height: 450px;
        width: 100%;
    }

    .mage img {
        height: 100%;
        width: 100%;
    }

    .top {
        margin-top: 30px;
    }

    .top h1 {
        text-align: center;
        font-family: "Cormorant Garamond", Georgia, serif;
    }

    .top p {
        text-align: center;
        font-family: "Poppins", Arial, sans-serif;
        color: #777171;
    }
    .footerCenter{
        text-align: center;
    }
    .footerCenterIcon{
        display: flex;
        justify-content: center;
    }
    .containerTour,.reviewContainer{
        width: 90%;
    }
    .final-sec{
        margin-left: 0px;
    }
 
    .sec-3 img {
        border-radius: 50%;
        width: 50%;
        height: 50%;
        
    }
    .rightColumn {
        margin-left: 0px;
    }
    .sec-3 .primary {
        margin-left: 55px;
    }
    .containerTour button{
        margin-bottom: 20px;
    }
    
}